@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}




@layer components {
  .slide-bottom {
    @apply animate-[slide-bottom_0.5s_cubic-bezier(0.250, 0.460, 0.450, 0.940)_both];
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }



  .padding {
    @apply px-8 py-12 sm:px-16 sm:py-24;
  }

  .granite_bg {
    @apply bg-[url(./assets/bg.png)]
  }

  .padding-x {
    @apply px-8 sm:px-16;
  }

  .hide_scroll::-webkit-scrollbar {
    @apply hidden;
  }

  .hero_bg {
    @apply bg-[url(./assets/herobg5.png)]
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}